# Caching
**/__pycache__
.*_cache/

# Testing
.pytest_cache/
.coverage

# Python Package Management
*egg-info/
*venv/

# Internal Usage
local/
*notes*

# IDE and Editor Configurations
.idea/
.vscode/

# Builds
dist/

# IDE and Editor files
.idea/
.vscode/